# as65.cfg - Linker config para AS65
# El código se carga en $0800
# BSS va dentro de RAM también (no en $0200-$07FF, que usa el monitor)
# ZP arranca en $0002 como el monitor

SYMBOLS {
    __STACKSIZE__: type = weak, value = $0200;
    __STACKSTART__: type = weak, value = $3DFF;
    __CONSTRUCTOR_COUNT__: type = weak, value = 0;
    __DESTRUCTOR_COUNT__: type = weak, value = 0;
}

MEMORY {
    ZP:     start = $0002, size = $00FE, type = rw, define = yes;
    LORAM:  start = $0660, size = $01A0, type = rw;
    RAM:    start = $0800, size = $3600, type = rw, file = %O, define = yes;
}

SEGMENTS {
    ZEROPAGE: load = ZP, type = zp, define = yes;
    STARTUP:  load = RAM, type = ro;
    RODATA:   load = RAM, type = ro, optional = yes;
    CODE:     load = RAM, type = ro, optional = yes;
    ONCE:     load = RAM, type = ro, optional = yes;
    DATA:     load = RAM, type = rw, define = yes, optional = yes;
    BSS:      load = LORAM, type = bss, define = yes, optional = yes;
}
